<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row" *ngIf="getLoadStreamStatus()">
                <div class="col-3" *ngFor="let game of this.games">
                    <mat-card (click)="getChannel(game)" style="height: 10rem; text-align: center;"
                        class="button bubble-float-bottom"
                        matTooltip="{{game.awayTeamName}} v.s. {{game.homeTeamName}}">
                        <div class="container">
                            <div class="row">
                                <div class="col" style="text-align: center;">
                                    <pre>{{game.gameTime}}</pre>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-6">
                                    <img src={{game.awayTeamLogo}} alt={{game.awayTeamName}} style="max-height: 50%;"
                                        matTooltip={{game.awayTeamName}}>
                                </div>
                                <div class="col-6">
                                    <img src={{game.homeTeamLogo}} alt={{game.homeTeamName}} style="max-height: 50%;"
                                        matTooltip={{game.homeTeamName}}>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="loading-stream" *ngIf="!getLoadStreamStatus()">
                        <div class="loading-container">
                            <div class="box loading-css">
                                <br>
                                <br>
                                <app-loading></app-loading>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="this.channelHomeTeam">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <strong>{{this.channelAwayTeam}} v.s. {{this.channelHomeTeam}}</strong>
                    </div>
                    <div class="col-6">
                        <ul class="drop-down-menu">
                            <li>
                                <a>loader config</a>
                                <ul>
                                    <li>
                                        <a>
                                            <mat-slide-toggle  [(ngModel)]="this.videoPlayerService.isTryM3u8Stream">try to load stream</mat-slide-toggle>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <mat-slide-toggle [(ngModel)]="this.videoPlayerService.muted">muted
                                            </mat-slide-toggle>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="this.loadChannelStatus == 1">
                    <div class="col loading-css">
                        <app-loading></app-loading>
                    </div>
                </div>

                <div class="row" *ngIf="this.channels.length">
                    <div class="col-12" *ngFor="let channel of this.channels">
                        <mat-card (click)="getStreamByChannel(channel)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-5">
                                        <pre>{{channel.name}}</pre>
                                    </div>
                                    <div class="col-7">
                                        <pre>{{channel.speed}}</pre>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                    </div>
                </div>

                <div class="row" *ngIf="!this.channels.length">
                    <div class="col">
                        <br>
                        <span style="color: red;">{{this.streamNonResText}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>