.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-css {
  overflow: hidden;
  height: 10rem;
}

/* css hover */
/* Default styles for the demo buttons */
.button {
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  background: #ececec;
  text-decoration: none;
  color: #666;
}
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-float-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ececec transparent transparent transparent;
  transition-duration: 0.3s;
  transition-property: bottom;
}
.bubble-float-bottom:hover {
  transform: translateY(-5px) translateZ(0);
}
.bubble-float-bottom:hover:before {
  bottom: -10px;
}
