<div class="container-fluid">
  <div class="row stickyhere">
    <div class="col-6">
      <form [formGroup]="this.formGroup">
        <input formControlName="keyword" type="text" class="form-control" placeholder="keyword" aria-label="Default"
          aria-describedby="inputGroup-sizing-default" />
      </form>
    </div>

    <div class="col-2" *ngIf="!this.m3u8">
      <ul class="drop-down-menu">
        <li>
          <a>PlayerConfig</a>
          <ul>
            <li>
              <a>
                <mat-slide-toggle [(ngModel)]="this.videoPlayerService.autoplay">autoPlay</mat-slide-toggle>
              </a>
            </li>
            <li>
              <a>
                <mat-slide-toggle [(ngModel)]="this.videoPlayerService.muted">muted
                </mat-slide-toggle>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-2" *ngIf="this.gimyHistories.length">
      <ul class="drop-down-menu">
        <li>
          <a>History</a>
          <ul>
            <li *ngFor="let gimyHistory of this.gimyHistories">
              <a (click)="toHistory(gimyHistory)" class="videoLink">{{gimyHistory.historyStr}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-2" *ngIf="this.m3u8">
      <button type="button" class="btn btn-light" (click)="backToVideoList()">Back</button>
    </div>
    <div class="col-12">
      <div class="row" *ngIf="this.totalpages > 1">
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <app-page-pagination [length]="this.totalpages*20" (newItemEvent)="getCurrentPage($event)">
                </app-page-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8" *ngIf="!this.m3u8 && !this.videos.length">
      <div class="row">
        <div *ngFor="let rankVideos of this.rankList" class="col-3">
          <strong>{{rankVideos.category}}</strong>
          <hr>
          <pre [ngClass]="{'active': this.channelTitle == item.name}"
            *ngFor="let item of rankVideos.gimyVideos"><a class="channelLink" (click)="getChannel(item.url, item.name)">{{item.name}}</a></pre>
        </div>
        <hr>
      </div>
    </div>

    <div class="col-8" *ngIf="!this.m3u8 && this.videos.length">
      <div class="row">
        <div *ngFor="let video of this.videos" class="col-3">
          <br>
          <mat-card (click)="getChannel(video.url, video.name)" class="channelLink"
            [ngClass]="{'active': this.channelTitle == video.name}">
            <mat-card-header>
              <div mat-card-avatar style="background-image:url({{video.img}}); background-size: cover;"></div>
              <mat-card-title>{{video.name}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-8" *ngIf="this.m3u8">
      <br>
      <div class="row stickyVideo">
        <div class="col">
          <app-video-player [options]="this.options"></app-video-player>

        </div>
      </div>
    </div>

    <div class="col-4" *ngIf="this.channels.length">
      <div class="row stickyChannel">
        <div class="col">
          <div class="row">
            <div class="col-12">
              <strong>{{this.channelTitle}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-tab-group>
                <mat-tab label={{channel.name}} *ngFor="let channel of this.channels">
                  <br>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-11">
                        <div class="row mat_tab_content">
                          <div class="col-3" *ngFor="let item of channel.videoLinks">
                            <mat-card class="videoLink" (click)="getM3U8(item.link, item.name)"
                              [ngClass]="{'active': this.activeLink == item.link}">
                              {{item.name}}</mat-card>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
