.stickyhere {
    z-index: 999;
    position: sticky;
    top: 10%;
    left: 0;
    background-color: lightcyan;
    border-color: lightcyan;
    border-style: solid !important;
    border-radius: 5px;
    width: 50%;
}

.channelLink, .videoLink{
    cursor: pointer;
}